/*** Home page ***/



body{
	background-color:#acdccb;
	padding-top:32px;
	margin-right: 0%;
	margin-left:0%;
	max-width: inherit;
	margin-top: 0px;
	position: relative;
}


.navbar{
	height: 55px;
}



.navbar ul li a{
	text-transform: uppercase;
	background-color:black;
	letter-spacing:0.1em;
	margin-left: 1px;
	font-size: 1.2em;
	font-family:'Raleway', sans-serif;

}



/* Logo(Zekhub)-Adding Pseudo- Classs.. */
.navbar :hover ul a{
	color:orange;
	text-decoration: none;
	transition: color 600ms;
}

.navbar :hover a{
	color:orange;
	text-decoration: none;
	transition: color 600ms;
}

.container{
    padding-bottom: 20px;
    padding-right: 50px;
    height: 150px;
    text-align: left;
     margin-top: 40px;
    padding-top: 30px;
}

.bambi {
	font-size: 1.5em;
	text-align: center;
}


/*.carousel-caption p{
font-size:1.4em;
}*/
.item p {
	font-size:1.3em;
}
.item h2{
	font-size:2em;
}
.column{
 background-color: white;

}

/*** Contact Page ***/

.tainer h2{
	font-family:sans-serif;
}

.image{
	display: inline-block;
	float: left;
	padding-left: 10px;
	padding-right:10px;
	margin-bottom: 30px;
}

#image {
    width:98%;

}

#conzept.row{
	width: 800px;
  padding-right: 40px;
}
#conzept p{
  font-size:1.15em;
	text-align: left;
}

.cpage h2{
	margin-bottom: 20px;
	font-size: 1.5em;
	text-align: center;
}


.tainer h1{
	text-align: center;
	color:black;
}


.col{
	display: inline-block;
	float:left;
	width:31%;
	padding-bottom: 10px;
	margin:10px;
	background-color: lightgrey;

}

.col-B{
	padding:10px;
}

.column{
	display: inline-block;
	float:left;
	padding-left:0px;
	width:30%;
	margin:5px 5px px 5px ;
	padding:3px;
	border:none;
}

	.glyphicon:hover{
	color:darkorange;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

	.glyphicon{
	font-size: 1.5em;
	color:grey;
}


	.tainer h5{
		text-transform: uppercase;
		font-size: 1.2em;
		color: black;
		padding-bottom: 15px;
		text-align: center;
	}

	.ctainer h5{
		text-transform: uppercase;
		font-size: 1.2em;
		color: black;
		padding-bottom: 15px;
		text-align: center;
	}

	.ctainer{
		background-color: grey;
		padding-bottom:200px;
		text-align: center;
	}


	/*** Styling FAQs  ***/

.header h3{
	color: black;
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 25px;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
}


.panel-title:hover{
	color:orange;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.panel-body{
	color:darkgreen;
	background-color: lightyellow;
	font-family: 'Raleway', sans-serif;
}


/*** Media Querry ***/
.container-fluid {
    padding-right: 15px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1em;
    margin-top: 3px;
    padding-bottom: 40px;
		padding-top: 60S
    background-color: #adcec2;
}
.container-fluid h2{
	text-align: center;
	font-size: 2.5em;
	font-family: 'Josefin Sans' , sans-serif;
	font-weight: bolder;
}

	.container-fluid h3{
		text-align: center;
		font-size: 2em;
}
#mitro{
	background-color: rgba(0, 0, 0, 0.05);
}

/**** About ****/
#about .row{
	background-color: #efe4ad;
	padding-bottom: 30px;
	/*padding-left: 30px;
	padding-right: 30px;*/
	padding-top: 20px;
	text-align: center;
}

#about h4{
font-family: 'Josefin Sans', sans-serif;
font-size: 2em;
}


#about{
	padding-bottom: 80px;
}


/**** My Work ****/
#work h3, p{
	font-size:1.2em;
}
#work a{
	font-size:1em;
	font-style: oblique;
	font-family: fantasy;
	font-weight: bolder;
	color:#663333;
}
#iwork:hover a{
	color:blue;
	font-size: 2.5vw;
	text-decoration: none;
	transition: color 600ms;
}


#work .row{
	background-color:#efe4ad;
}

#iwork{
	padding-bottom: 40px;
padding-top: 20px;
}

#iwork .img-responsive{
	padding: 5px;
}
#worktext{
	padding-left: 0px;
}

#iwork p{
	color: black;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.5em;
}

/**** Contact ****/

#contact{ . https://iyaw.github.io/WebDev/
	background-image:url(background-image:url(https://iyaw.github.io/WebDev/img/mq5.jpg);
	/*background-image:url(file:///Users/zeke/Documents/WebDev/img/mq5.jpg);*/
	background-attachment: fixed;
	background-size:cover;
	color: white;
	padding:50px;
	padding-bottom: 20px;
	padding-top: 0px
	height:400px;
}

#contact a{
	font-size: 1.5em;
	font-family:'Josefin Sans', sans-serif;
	padding-left: 10px;
	padding-right:10px;
	color:orange;
}
#contact p{
	font-size: 1.5em;
	font-family:'Josefin Sans', sans-serif;
}
#contact h2{
	color: white;
}
#contact h3{
	font-size:1.5em;
}

#contact .glyphicon:hover{
	font-size: 2em;
	color:lightgreen;
}

#contact .glyphicon{
	color:darkred;

}

/**** FAQs ****/
#faqs{
	padding-bottom: 40px;
	padding-right: 120px;
	padding-left: 120px;
}
glyphicon:hover{
	color:darkorange;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

	#faqs.glyphicon{
	font-size: 1.5em;
	color:grey;
}

#process.row{
	padding-left: 20px;
	padding-right: 50px;
	margin-top: 15px;
  padding-top: 20px;
}
#process{
	padding-left: 20px;
	padding-right: 50px;
	margin-top: 35px;
  padding-top: 25px;
}

/**** More Infopage ****/

#MoreInfo{
	padding-bottom: 40px;
}

#info .row{
	background-color: ##efe4ad;
	padding-bottom: 20px;
}
#info{
	background-color: #efe4ad;
	color: black;
	padding-bottom: 25px;
}

#info li{
	padding-bottom: 20px;
	font-size:3em
	padding-top:5px;
}
#info h3{
	font-size:1.5em;
}

#info p,li{
	font-size:1.2em
}


/**** Project Name_ Navigation bar ****/

.projectName{
	text-transform: uppercase;
	font-size: 2.5em;
	font-family: 'Russo One', sans-serif;

}

.projectName a {
	color:#f1ffcc;
}

/**** Anchor to Display full section Name under navbar  ****/

.anchor {
  padding-top: 55px;
}




/*.... Styling the footer....*/
.footer{
	padding: 20px;
	align-content: center;
	color:darkred;
}
