/*** Home page ***/



body{
	background-color:lightgrey;
	padding-top:60px;
	margin-right: 5%;
	margin-left:5%;
	max-width: inherit;
	margin-top: 80px;
	position: relative;
}
.navbar ul li a{
	text-transform: uppercase;
	color: orange;
	letter-spacing:0.1em;
	margin-left: 1px;
	font-size: 1.2em;
	font-family:'Raleway', sans-serif; 	

}
/* Adding Pseudo- Classs.. */
#container navbar a:hover{
	color: lightsalmon;
	text-decoration: none;
	transition: color 600ms;
}

.container{
    padding-bottom: 20px;
    padding-right: 50px;
    height: 150px;
    text-align: left;
     margin-top: 40px;
    padding-top: 30px;
}

.bambi {
	font-size: 1.5em;
	text-align: center;
}

.carousel-caption p{
font-size:1.4em;
}


.column{
 background-color: white;

}

/*** Contact Page ***/

.tainer h2{
	font-family:sans-serif;
}

.image{
	display: inline-block;
	float: left;
	padding-left: 10px;
	padding-right:10px;
	margin-bottom: 30px;
}

#image {
    width:98%;

}


.cpage h2{
	margin-bottom: 20px;
	font-size: 1.5em;
	text-align: center;

}


.tainer h1{
	text-align: center;
	color:black;
}


.col{
	display: inline-block;
	float:left;
	width:31%;
	padding-bottom: 10px;
	margin:10px;
	background-color: lightgrey;

}

.col-B{
	padding:10px;
}

.column{
	display: inline-block;
	float:left;
	padding-left:0px;
	width:30%;
	margin:5px 5px px 5px ;
	padding:3px;
	border:none;
}

	.glyphicon:hover{
	color:darkorange;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

	.glyphicon{
	font-size: 1.5em;
	color:grey;
}


	.tainer h5{
		text-transform: uppercase;
		font-size: 1.2em;
		color: black;
		padding-bottom: 15px;
		text-align: center;
	}

	.ctainer h5{
		text-transform: uppercase;
		font-size: 1.2em;
		color: black;
		padding-bottom: 15px;
		text-align: center;
	}

	.ctainer{
		background-color: grey;
		padding-bottom:200px;
		text-align: center;
	}
		 

	/*** Styling FAQs  ***/

.header h3{
	color: black;
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 25px;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
}


.panel-title:hover{
	color:orange;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;	
}

.panel-body{
	color:darkgreen;
	background-color: lightyellow;
	font-family: 'Raleway', sans-serif;
}


/*** Media Querry ***/
.container-fluid {
    padding-right: 15px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1em;
    padding-top: 0px;
    margin-top: 20px;
    padding-bottom: 40px;
    background-color: #adcec2;
}
.container-fluid h2,h3{
	text-align: center;
    
}

/**** About ****/
#about .row{
	background-color: #f1ffcc;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 100px;
	text-align: center;
}

#about h4{
font-family: 'Josefin Sans', sans-serif; 
font-size: 2em;
}


/**** Contact ****/

#contact{
	background-image:url(http://yaw10.bitballoon.com//img/mb.jpg);
	background-attachment: fixed;
	background-size:cover;
	color: black;
	padding:50px;
	padding-bottom: 120px;
	padding-top: 50px
	height:400px;
}

#contact a{
	font-size: 1.5em;
	font-family:'Josefin Sans', sans-serif;
	padding-left: 10px;
	padding-right:10px;
	color:red;	
}
#contact p{
	font-size: 1.5em;
	font-family:'Josefin Sans', sans-serif;  
}

#contact .glyphicon:hover{
	font-size: 2.0em;
	color:darkorange;
}

#contact .glyphicon{
	color:darkred;

}


/**** FAQs ****/

glyphicon:hover{
	color:darkorange;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

	.glyphicon{
	font-size: 1.5em;
	color:grey;
}

#process.row{
	padding-left: 20px;
	padding-right: 50px;
}

/**** More Infopage ****/

#info .row{
	background-color: #f1ffcc;
	padding-bottom: 20px;
}

#info li{
	padding-bottom: 20px;
	font-size:3em
	padding-top:5px;	
}
/**** Project Name_ Navigation bar ****/

.projectName{
	text-transform: uppercase;
	font-size: 2.5em;
	font-family: 'Russo One', sans-serif;
	
}

.projectName a {
	color: #8e1d01;
}

/**** Anchor to Display full section Name under navbar  ****/

.anchor {
  padding-top: 55px;
}

#info{
	background-color: #f1ffcc;
	color:black;
}





























        
